body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.search{
  margin-bottom: 10pt;
  width: 60%;
  height: 24pt;
}
.srchButton {
  margin-left: 10pt;
  margin-bottom: 2pt;
  background-color: #5bc0de;
  color: white;
  border-color: #46b8da;
  border-radius: 4px;
}
